/*** VSCodeEDU preview fix 

  Purpose:
  - Fix VSCodeEDU issue that causes a white border to show around
    the preview window

  When To Modify:
  - If you change the background color of your webpage, you may need to update this rule too.
***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
    background-color: var(--bg-color);
}
.dark-mode html {
  background-color: var(--bg-color-dark-mode);
}
/*** body ***
   
  Purpose:
  - Add style rules for the body of your webpage
  - This is useful if you want a rule to apply to EVERYTHING on your page
    - (Tip: You can always override these rules later in the stylesheet)

  When To Modify:
  - [ ] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

body {
    /* Add a background color or image */
    background-color: var(--bg-color); /* see bottom of file for color variables */

    /* Customize the default size, color, and font for text*/
    font-size: 16px;
    color: var(--text-color);
    font-family: "Merriweather", "sans-serif"; /* This tells the browser: "Try to use `Tahoma`, and if you can't find it, use any sans-serif font." */

    /* Put space around the edges of the webpage */
    padding: 50px;
    z-index: 0;
}


/*** Text ***
  
  Purpose: 
  - Add style rules for headings (h1-6),
    paragraphs (p), links (a), and buttons

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

ul {
  list-style: circle;
}

h1 {
  color: var(--text-color);
  background-color: var(--acc-bg-color);
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
}

h2 {
    background-color: var(--acc-bg-color);
    color: var(--text-color);
    text-align: center;
    font-size: 35px;
}

h3 {
  color: var(--acc-text-color);
  font-size: large;
}


h4 {
    color: var(--text-color);
}

p {
  text-align: justify;
}
a,
a * {
    font-weight: bold;
}




button {
    /* Example Style, replace with your own! */
    background-color: var(--acc-text-color);    /* button color */
    color: var(--text-color);               /* text color */
    border: none;               /* hides the default border */
    padding: 5px 12px;          /* space between button's text and edge */
    border-radius: 5px;         /* curved edges instead of square */
    cursor: pointer;            /* makes the cursor change when over button */
}

button:hover {
    /* Make the button look different when the user hovers over it */
    color: var(--accent-color-medium);;
}

/*** header ***
  
  Purpose:
  - Add style rules for your website's header section

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Project 4 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

.header-container { /* Example A: This styles elements with class="header" */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
}
.header-item:nth-of-type(1) {
  width: 50%;
}
.header-item:nth-of-type(2) {
  width: 50%;
}
#header-img {
  text-align: left;
  margin-left: 10px;
  margin-right: 90px;
  width: 100%;
  max-width: 90px;
}
.header-button {
  text-align: center;
  background-color: var(--acc-text-color);
  font-size: large;
  color: var(--text-color);
  padding: 10px;
  margin: 10px;
  border: var(--text-color);
  cursor: pointer;
}


/*** footer ***
  
  Purpose:
  - Add style rules for your website's footer section

  When To Modify:
  - [ ] Project 3 (STRETCH FEATURE) 
  - [ ] Any time after
***/

.footer { /* Example B: This styles elements with class="footer" */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding-top: 0%;
  margin-bottom: 0px;
  background-color: var(--acc-bg-color);
}

/*** Navbar [PLACEHOLDER] [ADDED IN UNIT 4] ***/

/*** About Section ***
  
  Purpose:
  - Add style rules for your website's About section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/

.navbar ul {
  z-index: 999; /* Ensures the navbar is on top of other elements */
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 5px;
  background-color: var(--nav-bg-color);
}

.navbar ul li {
  float: left;
  float: inline-start;
  margin: 10px;
}

.navbar ul li a {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--acc-text-color);
  text-align: center;
  padding: 5px;
}

.navbar ul li a:hover {
  color: var(--accent-color-medium);
}


/*** Schedule Section ***
  
  Purpose:
  - Add style rules for your website's Schedule section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/
.schedule-container {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: left;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
}
.schedule-img {
  max-width: 100px;
}
.schedule-item {
  padding: 20px;
  margin: 10px;
  background-color: var(--accent-color-light);
}
/*** Links Section ***
  
  Purpose:
  - Add style rules for your website's Links section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/
.block h3:link {
  color:var(--text-color);
  text-decoration: none;
}
.block h3:visited {
  color: var(--accent-color-brown);
  text-decoration:line-through;
}
.block h3:hover {
  color: var(--accent-color-medium);
  text-decoration: underline;
}
.block h3:active {
  color:var(--accent-color-blue);
  text-decoration:underline;
}

/*** RSVP [PLACEHOLDER] [ADDED IN UNIT 6] ***/
/*** RSVP Section ***
  
  Purpose:
  - Add style rules for your website's RSVP form

  When To Modify:
  - [ ] Project 6 (REQUIRED FEATURE)
  - [ ] Project 7 (REQUIRED FEATURE)
  - [ ] Any time after
***/

.rsvp-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  padding-bottom: 50px;
}
.rsvp-para {
  padding-right: 10px;
  width: 55%;
}
.rsvp-participants {
  width: 45%;
  padding-right: 10px;
}

/* Add other rsvp-related selectors here */
input {
  margin: 10px;
}
.error {
  border-style: solid;
  border-width: 2px;

  /* Set border-color and background */
  border-color: var(--error-color-border);
  background: var(--error-color);
}

/*** Animations [PLACEHOLDER] [ADDED IN UNIT 8] ***/
/*** Success Modal [PLACEHOLDER] [ADDED IN UNIT 9] ***/
/*** Success Modal  ***
  
  Purpose:
  - Add style rules to your website's pop-up modal, which appears
    when a user successfully submits the RSVP form

  When To Modify:
  - [ ] Project 9 (REQUIRED FEATURE)
  - [ ] Any time after
***/

.modal {
  display: none;   /* modal should be hidden by default*/
  position: fixed; /* modal cannot move around the screen */
  z-index: 2;      /* modal appears above other elements */ 
  
  
  /* TODO: Make the modal fill the entire screen */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  /* Add a semi-transparent background to shadow non-modal elements*/
  background-color: rgba(0,0,0,0.4); /* 40% opacity black */

  /* Flexbox settings for modal */
  /* These won't apply until we update "display:" from "hidden" to "flex" in our JS */
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.modal-container {
    /* Change modal size and spacing here */
    padding: 70px;
    width: 80%;
    border-radius: 20px;
    /* Customize modal style here */
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    font-size: 1rem;
    font-family: monospace;

    /* Optional: Use flexbox to customize .modal-item layout */
    display: flex;

}
#modal-text {
  white-space: pre-line;
}

.modal-item {
    /* Optional: Style individual elements within the modal */
    align-items: center;
}

/*** Dark Mode [PLACEHOLDER] [ADDED IN UNIT 5] ***/
/* Default dark mode style */
body.dark-mode,
body.dark-mode html {
    --bg-color: var(--bg-color-dark-mode);
    --text-color: var(--text-color-dark-mode);
}


.dark-mode {
  background-color:var(--bg-color-dark-mode);
  color: var(--text-color-dark-mode);
}


/* Example: Different dark mode style for h1 */
.dark-mode h4 {
    background-color: var(--acc-color-dark-mode);
    display: inline;
    color: var(--text-color-dark-mode);
}

/* Example: Different dark mode style for visited links */
.dark-mode a:visited * {
  color: var(--acc-text-color);
}

/* Add style to button */
#theme-button {
  font-weight: bold;
  color: var(--text-color);
  padding: 10px;
  margin: 5px;
}
.dark-mode #theme-button {
  color: var(--text-color-dark-mode);
}

#motion-button {
  font-weight: bold;
  color: var(--text-color);
  padding: 10px;
  margin: 5px;
}
.dark-mode #motion-button {
  color: var(--text-color-dark-mode);
}

/*** Custom Colors (OPTIONAL) ***
  
  Purpose:
  - Use CSS variables to define custom colors for your website
  - To get you started, we've provided the color scheme used in our example site.
  - To reference a color variable in your css, use var(--variable-name) in place of a color value

  When To Modify:
  - [ ] Any time (OPTIONAL)
***/

:root {
    /* Light Mode */
    --bg-color: #FDF6E3;
    --text-color: #333333;
    --acc-text-color: #D4AF37;
    --acc-bg-color: #E8C878;

    /* Dark Mode */
    --bg-color-dark-mode: #121E26;
    --text-color-dark-mode: #fff;
    --acc-color-dark-mode: #3AACA2;
    /* Top/Bottom Bars */
    --nav-bg-color: #2C3E50;
    
    /* Accent Colors */
    --accent-color-light: #6E8AA3;
    --accent-color-medium: #4A6278;
    --accent-color-dark: #2C3E50;
    --accent-color-blue: #3AACA2;
    --accent-color-brown: #805D77;

    /* Error Colors */
    --error-color: #f8bbd0;
    --error-color-border: #e63946;
}
